<%= form_for([@show.user, @show, @guest]) do |f| %>
  <% if @guest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

      <ul>
      <% @guest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.select :tickets_requested, [1,2,3,4,5]%>

<h3>Enter the email of each person in your party separated by a space, for ticketing purposes. </h3><br>
    <%= f.text_area :ticket_emails, size: "50x1" %>


    

	

  <div class="actions">
    <%= f.submit "Continue &raquo;".html_safe, :class => "btn btn-large btn-primary"%>
  </div>
<% end %>

