<%- model_class = Guest.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:interested) %></th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:show_id) %></th>
      <th><%= model_class.human_attribute_name(:tickets_requested) %></th>
      <th><%= model_class.human_attribute_name(:tickets) %></th>
      <th><%= model_class.human_attribute_name(:cost) %></th>
      <th><%= model_class.human_attribute_name(:ticket_emails) %></th>



    </tr>
  </thead>
  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.interested %></td>
        <td><%= guest.id %></td>
        <td><%= guest.email %></td>
        <td><%= guest.show_id %></td>
        <td><%= guest.tickets_requested %></td>
        <td><%= guest.tickets %></td>
        <td><%= guest.cost %></td>
        <td><%= guest.ticket_emails %></td>


      </tr>
    <% end %>
  </tbody>
</table>