<h1>Buy tickets</h1><br>

<p>
  <b>Musician:</b>
  <%= @show.user.name %>
</p>
<p>
  <b>Host:</b>
  <%= @show.host_em %>
</p>
<p>
  <b>Your email:</b>
  <%= @guest.email %>
</p>

<p>
  <b>Show location:</b>
  <%= @show.location %>
</p>
<p>
  <b>Show date:</b>
  <%= @show.date  %>
</p>
<p>
  <b>Show time:</b>
  <%= @show.time  %>
</p><br>

<h3>Choose how many tickets at <b>$<%= @show.ticket_price %></b> each:</h3><br>

<%= render "form"%>