<style>
.home { padding: 30px;}
</style>
<div class="container span12">	<h1>Thanks!</h1><br> </div>

<% if @guest.interested.nil? %>
<%= render 'shared/interest' %>
</div>		
<% elsif @guest.interested? %>
	<h3>Great! We'll let you know as soon as searchable shows goes live.</h3>
<% end %>

<div class="container span8">
<h2>Your tickets:</h2>
	<p>
	  <b>Musician:</b>
	  <%= @show.user.name %>
	</p>
	<p>	
	  <b>Host:</b>
	  <%= @show.host_em %>
	</p>

	<p>
	  <b>Location:</b>
	  <%= @show.location.address %>
	</p>
	<p>
	  <b>Date:</b>
	  <%= @show.date  %>
	</p>
	<p>
	  <b> Time:</b>
	  <%= @show.time  %>
	</p>
	<p>
	  <b>Tickets:</b>
	  <%= @guest.tickets %>
	</p>
	<p>
	  <b>Total cost:</b>
	  <%= number_to_currency(@guest.tickets * @show.ticket_price)  %>
	</p>
</div>

