
<div>
<h1>Host page</h1><br>

<b>Musician: </b>
<%= @host.show.user.name %><br>

<b>Host: </b>
<%= @host.email %><br>

<b>Show website: </b>
<%= link_to user_show_url(@user, @show), user_show_url(@user, @show) %><br>

<b>Ticket price: </b>
$<%= @show.ticket_price %><br>

<b>Minimum tickets: </b>
<%= @show.tickets_min %><br>

<b>Maximum tickets: </b>
<%= @show.tickets_max %><br>


<br>
<div class="page-header">
	<h3> Tickets sold (<%= @show.tickets_sold %>)</h3>
</div>

	<%= render 'guests'%>

<br><br>
<%= link_to "Instructions &raquo;".html_safe, about_path, class: "btn btn-large btn-primary" %>

</div>