

<h1>Host page</h1><br>

<b>Musician: </b>
<%= @host.show.user.name %><br>

<b>Host: </b>
<%= @host.email %><br>

<b>Show website: </b>
<%= link_to user_show_url(@user, @show), user_show_url(@user, @show) %><br>

<b>Ticket price: </b>
$<%= @show.ticket_price %><br>

<b>Minimum tickets: </b>
<%= @show.tickets_min %><br>

<b>Maximum tickets: </b>
<%= @show.tickets_max %><br>


<br>
<h3> Guests (<%= @show.guests.count %>)</h3>
<%= render 'guests'%>

<br><br>
<%= render 'instructions_modal'%>

