<div class="control-group">
  <%= f.label :header, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :header, :class => 'text_area' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :mp3_1_url, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :mp3_1_url, :class => 'text_area' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :mp3_2_url, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :mp3_2_url, :class => 'text_area' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :active, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :active, :class => 'check_box' %>
  </div>
</div>