<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Header URL" %><br />
    <%= f.text_field :header %>
  </div>
  <div class="field">
    <%= f.label "MP3 1 URL" %><br />
    <%= f.text_field :mp3_1_url %>
  </div>
  <div class="field">
    <%= f.label "MP3 2 URL" %><br />
    <%= f.text_field :mp3_2_url %>
  </div>
  <div class="field">
    <%= f.label :musician %><br />
    <%= f.check_box :musician %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
 
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>