<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
 
  <div class="control-group">
    <%= f.label :musician, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :musician, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :header, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :header, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mp3_1_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :mp3_1_url, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mp3_2_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :mp3_2_url, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :website, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :website, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zip, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :zip, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :travel_radius, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :travel_radius, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :active, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :active, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
