<table class="table table-striped">
	  <thead>
	  <tr>
	    <th>Name</th>
	    <th>Email</th>
	    <th>Musician?</th>
	    <th>Style</th>
	    <th>Active?</th>
	    <th></th>
	  </tr>
	  </thead>
<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= user.email %></td>
    <td><%= user.musician %></td>
    <td><%= user.style %></td>
	<td><% if user.active? %>
			<%= true %>
		<% else %>
			<%= form_for(user) do |f| %>
		    	<%= f.hidden_field :active, :value => 1 %>
				<%= f.submit "Activate &raquo;".html_safe, :class => "btn btn-primary" %>
			<% end %>
		<% end %>
	</td>
	<td><%= link_to 'Edit', "/users/#{user.id}/admin_edit", :class => 'btn btn-mini' %>
	<%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete,  :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New User', new_user_path, class:'btn btn-primary' %>
<br>
