<% provide(@shows, @user.name) %>


<h3>Past shows (<%= @user.shows.count - @shows.count %>)</h3>
Outstanding payment: <%= number_to_currency(@money_owed)%><br>
For <%= @total_fans%> fans and <%= @finished_shows.count %> shows. 
<br>
<br>


<div class="row">
  <aside class="span4">
    <section>
    </section>
  </aside>

  <div class="span10">
    <% if @user.shows.any? %>
      <h3>Upcoming shows (<%= @shows.count %>)</h3> 	  

		<%= render 'shared/shows'%>
<%= will_paginate @shows %>


    <% end %>
  </div>
</div>