<table class="table table-striped" >
  <tr>
    <th>Date </th>
    <th>Time </th>
    <th>Location</th>
    <th>Host</th>

    <th>Musician</th>
    <th>Ticket price</th>
    <th>Tickets min</th>
    <th>Tickets max</th>
    <th>Tickets sold</th>
    <th>Link to Host page</th>
    <th></th>
  </tr>

<% @shows.each do |show| %>
  <tr>
    <td><%= show.date.to_formatted_s(:rfc822)    %></td>
    <td><%= show.time.to_formatted_s(:time) %></td>
    <td><%= show.location %></td>
	<td><%= show.host.email %></td>

    <td><%= show.user_id %></td>
    <td><%= show.ticket_price %></td>
    <td><%= show.tickets_min %></td>
    <td><%= show.tickets_max %></td>
    <td><%= show.tickets_sold %></td>
    <td><%= link_to host_url(show.web_string), host_url(show.web_string) %></td>

    <td><%= link_to 'Show', user_show_path(current_user, show) %></td>
<% if current_user.admin? %>
    <td><%= link_to 'Destroy', [current_user, show], confirm: 'Are you sure?', method: :delete %></td>
<% end %>
  </tr>
<% end %>
</table>