<style>

img {
    display: block;
    margin-left: auto;
    margin-right: auto }

</style>

<div class="hero-unit">
	<% if current_user.header.blank? %>
		<h1><%= current_user.name %></h1>
	<% else %>
		<img usemap="#_bc_customheader_map"src=<%=current_user.header%> >
	<% end %>
</div>
	<br>
	<p>
	  <b>Total shows:
	  <%= current_user.shows.count %> </b>
	</p>

	<p>
	  <b>Total guests:
	  <%= @guests %></b>
	</p>

	<p><%= link_to "Host instructions &raquo;".html_safe , host_info_path, class: "btn" %></p>