<table class="table table-striped" >
  <tr>
    <th>Transaction Complete? </th>
    <th>Revenue</th>
    <th>Date </th>
    <th>Time </th>
    <th>Location</th>
    <th>Host</th>

    <th>Musician</th>
    <th>Ticket price</th>
    <th>Tickets sold</th>
    <th>Host page</th>
    <th>Payment status</th>
    <th></th>
  </tr>

<% @shows.each do |show| %>
  <tr>
	<td><%= show.complete   %></td>
	<td><%= number_to_currency(show.tickets_sold * show.ticket_price)%></td>
    <td><%= show.date.to_formatted_s(:rfc822)    %></td>
    <td><%= show.time.to_formatted_s(:time) if not show.time.nil? %></td>
    <td><%= show.location.address %></td>
	<td><%= show.host_em %></td>

    <td><%= show.user_id %></td>
    <td><%= number_to_currency(show.ticket_price) %></td>

    <td><%= show.tickets_sold %></td>
    <td><%= link_to host_url(show.web_string), host_url(show.web_string) %></td>
	<td><% if show.user.nil? %>
			no user
		<% elsif not show.date.past? %>	
			show not past
			
		<% elsif show.complete %>
			issued
		<%else %>
			<%= form_for([show.user,show]) do |f| %>
			    	<%= f.hidden_field :complete, :value => 1 %>
					<%= f.submit "Mark issued &raquo;".html_safe, :class => "btn btn-primary" %>
			<% end %>
		<% end %>
	<% end %></tr>
</table>