<%= form_for [current_user, @show], :html => { :class => 'form-horizontal' } do |f| %>

<div class="control-group">
  <%= f.label :date, :class => 'control-label' %>
  <div class="controls">
    <%= f.date_select :date, :class => 'date_select' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :time, :class => 'control-label' %>
  <div class="controls">
    <%= f.time_select :time, {:minute_step => 15}, :class => 'time_select' %>
  </div>
</div>

<%= fields_for @show.location do |location| %>
	  <div class="control-group">
	    <%= location.label :location, :class => 'control-label' %>
	    <div class="controls">
	      <%= location.text_field :address, :class => 'text_field' %>
	    </div>
	  </div>
  <% end %>	

<%= fields_for @show.host do |f| %>	
	<div class="control-group">
	    <%= f.label "Host email", :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :email, :class => 'text_field' %>
	    </div>
	  </div>
<% end %>

  <div class="control-group">
    <%= f.label :ticket_price, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :ticket_price, [10,15,20],:class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tickets_min, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :tickets_min, [20,25,30],:class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tickets_max, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :tickets_max, [25,50,75,100,200], :class => 'number_field' %>
    </div>
  </div>



  



  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                shows_path, :class => 'btn' %>
  </div>
<% end %>
