<div class="page-header container">

<h1>Shows</h1>
<p class="lead">We're listing upcoming shows within <%= @admin %> miles of <%= @current_location_human %>. Search by other locations below.</p>
<%= form_tag shows_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Nearby", :name => nil %>
<% end %>

</div>
<table class="table table-striped">
	  <thead>
	  <tr>
	    <th>Date</th>
	    <th>Musician</th>
		<th>Style</th>
		<th>Location</th>
		<th>Distance</th>
		<th></th>

	  </tr>
	  </thead>
<% @locations.each do |location|  %>
  <tr>
	<% show = location.show %>
	<% user = show.user %>
	<% unless not show.public? %>
	<td><%= show.date.to_formatted_s(:rfc822) %> </td>	
    <td><%= link_to user.name, user.website %></td>
	<td><%= user.style %> </td>
	<td><%= location.address %> </td>
	<td><%= location.distance_from(@user_location).round(2)%> miles</td>
    <td><%= link_to "Buy tickets &raquo;".html_safe, [user, show], :class => 'btn btn-primary btn-mini' %></td>
  </tr>
<% end %><% end %>
</table>