<style>

img {
    display: block;
    margin-left: auto;
    margin-right: auto }

p  {
	    margin-left: auto;
	    margin-right: auto;
	    width: 13em
	}

</style>

<div class="hero-unit">
	<% if not @user.header.nil? %>
		<img usemap="#_bc_customheader_map"src=<%=@user.header%> >
	<% else %>
		<h1 align="center">
		<%= @user.name %>
		</h1>
	<% end %>
<br>
<p>
  <b>Date:</b>
  <%= @show.time.strftime("%l%p")  %>, <%= @show.date.to_formatted_s(:rfc822)  %>
</p>
<p>
  <b>Host:</b>
  <%= @show.host.email %>
</p>
<p>
  <b>Location:</b>
  <%= @show.location.address %>
</p>

<p>
  <b>Ticket price:</b>
  $<%= @show.ticket_price %>
</p>

<% if @guests > 4 %>

	<p>
	  <b>Guests:</b>
	  <%= @guests %>
	</p>
<% end %>



<p>
<br><b>Listen here:</b>


<%= raw @user.mp3_1_url%>
<%= raw @user.mp3_2_url%>


</p>

<div align="center">
	<br><br>
	<%= link_to "Buy tickets &raquo;".html_safe , new_user_show_guest_path(@show.user_id, @show.id), class: "btn btn-primary btn-large" %>

</div>

</div>