<ul class="nav pull-right">		
       <li id="fat-menu" class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           Admin <b class="caret"></b>
         </a>
         <ul class="dropdown-menu">
           <li><%= link_to "Users", users_path %></li>
           <li><%= link_to "Shows", index_admin_path %></li>
		   <li><%= link_to "Guests", guests_path %></li>
	       <li><%= link_to "Musicians", musicians_path %></li>
	       <li><%= link_to "Money", payments_path %></li>		       
		   <li><%= link_to "Admin", admins_path %></li>
  	  
         </ul>
	</li>
</ul>